/*
 * sircus-tools-color
 ================================================== */
/* Colors */
.t-colorWhite           { color: #FFF; }
.t-colorBlack           { color: #000; }

.t-colorGray90          { color: $g-gray-90; }
.t-colorGray80          { color: $g-gray-80; }
.t-colorGray60          { color: $g-gray-60; }
.t-colorGray40          { color: $g-gray-40; }
.t-colorGray30          { color: $g-gray-30; }
.t-colorGray20          { color: $g-gray-20; }
.t-colorGray10          { color: $g-gray-10; }
.t-colorGray5           { color: $g-gray-5; }

.t-colorPrimary         { color: $g-primary; }
.t-colorPrimaryDark     { color: $g-primary-dark; }
.t-colorPrimaryLight    { color: $g-primary-light; }

.t-colorSuccess         { color: $g-success; }
.t-colorSuccessDark     { color: $g-success-dark; }
.t-colorSuccessLight    { color: $g-success-light; }

.t-colorNotice          { color: $g-notice; }
.t-colorNoticeDark      { color: $g-notice-dark; }
.t-colorNoticeLight     { color: $g-notice-light; }

.t-colorWarning         { color: $g-warning; }
.t-colorWarningDark     { color: $g-warning-dark; }
.t-colorWarningLight    { color: $g-warning-light; }

.t-colorError           { color: $g-error; }
.t-colorErrorDark       { color: $g-error-dark; }
.t-colorErrorLight      { color: $g-error-light; }

/* Fills */
.t-fillWhite           { background-color: #FFF; }
.t-fillBlack           { background-color: #000; }

.t-fillGray90          { background-color: $g-gray-90; }
.t-fillGray80          { background-color: $g-gray-80; }
.t-fillGray60          { background-color: $g-gray-60; }
.t-fillGray40          { background-color: $g-gray-40; }
.t-fillGray30          { background-color: $g-gray-30; }
.t-fillGray20          { background-color: $g-gray-20; }
.t-fillGray10          { background-color: $g-gray-10; }
.t-fillGray5           { background-color: $g-gray-5; }

.t-fillPrimary         { background-color: $g-primary; }
.t-fillPrimaryDark     { background-color: $g-primary-dark; }
.t-fillPrimaryLight    { background-color: $g-primary-light; }

.t-fillSuccess         { background-color: $g-success; }
.t-fillSuccessDark     { background-color: $g-success-dark; }
.t-fillSuccessLight    { background-color: $g-success-light; }

.t-fillNotice          { background-color: $g-notice; }
.t-fillNoticeDark      { background-color: $g-notice-dark; }
.t-fillNoticeLight     { background-color: $g-notice-light; }

.t-fillWarning         { background-color: $g-warning; }
.t-fillWarningDark     { background-color: $g-warning-dark; }
.t-fillWarningLight    { background-color: $g-warning-light; }

.t-fillError           { background-color: $g-error; }
.t-fillErrorDark       { background-color: $g-error-dark; }
.t-fillErrorLight      { background-color: $g-error-light; }

/* Borders */
.t-borderWhite           { border-color: #FFF; }
.t-borderBlack           { border-color: #000; }

.t-borderGray90        { border-color: $g-gray-90; }
.t-borderGray80        { border-color: $g-gray-80; }
.t-borderGray60        { border-color: $g-gray-60; }
.t-borderGray40        { border-color: $g-gray-40; }
.t-borderGray30        { border-color: $g-gray-30; }
.t-borderGray20        { border-color: $g-gray-20; }
.t-borderGray10        { border-color: $g-gray-10; }
.t-borderGray5         { border-color: $g-gray-5; }

.t-borderPrimary       { border-color: $g-primary; }
.t-borderPrimaryDark   { border-color: $g-primary-dark; }
.t-borderPrimaryLight  { border-color: $g-primary-light; }

.t-borderSuccess       { border-color: $g-success; }
.t-borderSuccessDark   { border-color: $g-success-dark; }
.t-borderSuccessLight  { border-color: $g-success-light; }

.t-borderNotice        { border-color: $g-notice; }
.t-borderNoticeDark    { border-color: $g-notice-dark; }
.t-borderNoticeLight   { border-color: $g-notice-light; }

.t-borderWarning       { border-color: $g-warning; }
.t-borderWarningDark   { border-color: $g-warning-dark; }
.t-borderWarningLight  { border-color: $g-warning-light; }

.t-borderError         { border-color: $g-error; }
.t-borderErrorDark     { border-color: $g-error-dark; }
.t-borderErrorLight    { border-color: $g-error-light; }
